@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
:root{
    --primary-color:#67948C;
    --light-grey:#6B7D9F;
    --beige:#FBF7ED;
    --dargk-grey:#494A4B;
    --white:#fff;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/*Global-styles*/
body{
    font-family:"Roboto" sans-serif;
}
.container{
    width:80%;
    margin:0 auto;
}

/*btn-styles*/
.btn{
    padding:0.5em;
    border:none;

    
}
.btn-green{
    background-color: var(--primary-color);
    color:#fff;

}
/*navigation-styles*/

    .navigation{
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:var(--dark-grey);

    }
    nav ul{
        display:flex;
        list-style: none;
        align-items:center;
        
    }
    nav ul li{
        padding:0.5em;
    }